ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkred;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
  background-color: darkblue;
}

.imagecenter {
   width: 150px;
   margin: 0 auto;
   margin-top: 10px; margin-bottom: 10px;
   clear: right;
}

body {
   background-image: url("background.jpg");
   background-color: #ececf9;
}

h1 {
   color: #ececf9;
}

aside {
   color: #d1d1e0;
   background-color: black;
   font-family: Times New Romans, serif;
   padding: 20px;
   width: 260px;
   float: left;
   margin-top: 10px; margin-bottom: 10px;
   clear: right;
}

main { 
   background-color: black;
   margin-top: 5px; margin-bottom: 5px;
   padding: 5px;
   font-size: 110%;
   color: #ececf9;
   min-width: 150px;
}
