ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkred;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
  background-color: gray;
}

h1 {
   color: #33ccff
      font-family: Impact, sans-serif;
}
}
p.home {
   font-size: 14px;
   color: #33ccff
}

main { 
   background-color: black;
   margin: 0px;
   padding: 0px;
   font-size: 110%
}
