ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkred;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
  background-color: darkgray;
}

body {
   background-image: url("background.jpg");
   background-color: #ececf9;
}

h1 {
   color: darkred;
}

h2 {
   color: white;
}

h4 {
   color: white;
}

.issue {
   font-size: 14px;
   color: #ececf9;
}

.main {
   font-size: 18px;
   color: darkred;
}

main { 
   background-color: black;
   margin-top: 5px; margin-bottom: 5px;
   padding: 20px;
   font-size: 110%;
}

aside {
   float: left;
   background-color: darkred;
   padding: 20px;
   margin-top: 5px; margin-bottom: 10px;
   font-size: 14px;
   min-width: 150px; max-width: 750px;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: darkred;
  text-align: center;
}

.footer {
   text-align: center;
   color: black;
}

.aside {
   color: black;
}

aside.right {
   background-color: gray;
   float: right;
   padding: 20px;
   margin-top: 5px; margin-bottom: 120px;
   min-width: 150px; max-width; 450px;
}

p {
   color: darkred;
   font-size: 14px;
}

cite {
   color: darkblue;
}

.white {
   color: white;
}

 .image {
    float: left;
    width: 150px;
    margin-top: 10px; margin-bottom: 10px;
    clear: right;
}
